.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 20px;
  }
  
  .modal button {
    padding: 10px 20px;
    background-color: #138ce8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  